


form{
    margin-top:25px;
}
 .error {
    border-radius: 5px;
    display: none;
    font-size: 1.3em;
    text-align: center;
    position: absolute;
    background: #2F558E;
    left: 105%;
    top:-7px;
    width: 100%;
    padding: 7px 10px;
    color: #fff;
    border:1px solid white;
  }
  .error:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #2F558E;
    border-width: 8px;
    margin-top: -8px;
  }
  .errorpassword{
    top:-80px;
 }
 #passwordmatch{
     top:0px;
 }
 
 .alert{
     display:none;
 }
 .fill{
     top:0px;
     background-color: #FF9494;
     
 }
 .fill:after{
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #FF9494;
    border-width: 8px;
    margin-top: -8px;
 }
 
 form{
     margin-bottom:40px;
 }

#password-strength-text{
    
    font-size: 1.3em;
    text-align: center;
    position: absolute;
   
    right: 105%;
    top:0px;
    width: 100%;
    padding: 7px 10px;
    color: #fff;

}

